@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <script src="~/Scripts/ModulMedic_CautareMedicament.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*Panel 1*@
    <div class="col-md-4">
        <!--Added containing column definition-->
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Cauta Pacient</h4></div>
            <div class="panel-body">
                <div class="text-center">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label for="cnp">CNP</label>
                                <input type="text" class="form-control" id="cnp" name="cnp">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button"  class="btn btn-default" onclick="CautarePacient($('#cnp').val())">Cautare</button>
                                    </div>
                                </div>
                                <p align="left"> Nume </p>
                                <input type="text" class="form-control" id="nume" name="nume">

                            </div>
                        </div>
                        <br> <br>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#consultationModal">Adaugare</button>
                            </div>
                        </div>
                        <div id="consultationModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Adaugare</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group row">
                                                <label for="numePacient" class="col-sm-4 col-form-label">CNP</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="CnpPac">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="numePacient" class="col-sm-4 col-form-label">Nume pacient</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="nume_pacient" placeholder="Popescu">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="prenumePacient" class="col-sm-4 col-form-label">Prenume pacient</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="prenume_pacient" placeholder="Ion">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="diagnostic" class="col-sm-4 col-form-label">Diagnostic</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="diagnostic_" placeholder="Diagnostic">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeMyModal">Close</button>
                                        <button type="button"
                                                class="btn btn-primary"
                                                onclick="salvarePacient($('#CnpPac').val())">
                                            Salvare pacient
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Panel 2*@
    <div class="col-md-4">
        <!--Added containing column defition-->
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Programari Lista</h4></div>
            <div class="panel-body">
                <div class="text-center">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="container">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Afisare</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Prima programare</a></li>
                                            <li><a href="#">A doua programare</a></li>
                                            <li><a href="#">A treia programare</a></li>
                                            <li><a href="#">A patra programare</a></li>
                                            <li><a href="#">A cincea programare</a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CreareReteta")
    </div>

<script>
    function CautarePacient(cnp)
    {
        var postData = new Object();
        postData.cnp = cnp;

        ajaxHelper.post("/Home/CautarePacient",
            postData,
            function (data) {
                $("#nume").val(data)
            },
            function () { console.log("Ceva nu a mers") })
    }

    function salvarePacient(cnp) {
        var postData = new Object();
        postData.CNP = cnp;

        ajaxHelper.post("/Home/AdaugarePacient",
            postData,
            function (data) {
                $("#nume").val(data)
            },
            function () { console.log("Ceva nu a mers") })
    }

</script>