@{
    ViewBag.Title = "Farmacist";
}
<div class="row">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    @*PANEL 1*@
    <br /> <br />
    <div class="col-md-4">
        <!-- Added containing column definition -->
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>AAA</h4></div>
            <div class="panel-body">
                <div class="text-center">

                </div>
            </div> <!-- Missing div here -->
        </div>
    </div>

    @*PANEL 2*@
    <div class="col-md-4">
        <!-- Added containing column definition -->
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>BBB</h4></div>
            <div class="panel-body">
                <div class="text-center">

                </div>
            </div>
        </div>
    </div>

    @*PANEL 3*@
    <div class="col-md-4">
        <!-- Added containing column definition -->
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>CCC</h4></div>
            <div class="panel-body">
                <div class="text-center">

                </div>

            </div>
        </div>
    </div>
</div>


