@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>farmASIST</h1>
    <p class="lead">Legatura rapida intre pacient, medic si farmacie!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Mai mult &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Pacient</h2>
        <ul style="list-style-type:none">
            <li><b>Afisarea datelor</b></li>
            <li><b>Stabilire programari</b></li>
            <li><b>Vizualizare istoric medicamente</b></li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mai mult &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Medic</h2>
        <ul style="list-style-type:none">
            <li><b>Afisarea datelor</b></li>
            <li><b>Adaugare pacient</b></li>
            <li><b>Cautare medicamente</b></li>
            <li><b>Realizare programari</b></li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Mai mult &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Farmacist</h2>
        <ul style="list-style-type:none">
            <li><b>Rezervari medicamente</b></li>
            <li><b>Cautare medicament</b></li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Mai mult &raquo;</a></p>
    </div>
</div>